---
const response = await fetch('https://chatapp-backend-lh6y8i35j-zzanarif16s-projects.vercel.app/api/users');
const users = await response.json();
---
<html>
  <body>
    <h1>Daftar User</h1>
    <ul>
      {users.map(user => <li>{user.name} ({user.phone})</li>)}
    </ul>
  </body>
</html>
